In [1]:
# clean_reviews.ipynb -- Preprocessing Script for Review Text

In [2]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [4]:
file = '../../../Data/reviews/reviews_raw/reviews_raw_london.csv'
#data = pd.read_csv(file, delimiter='\t', quotechar='"', escapechar='\\')
data = pd.read_csv(file)

In [5]:
print(len(data))

448240

In [6]:
data.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments,year,language
0,13913,4847959,2013-05-28,6405442,Vera,I'm very happy to have been Alina's guest! We'...,2013,en
1,13913,8142329,2013-10-17,9195551,Honi,I stayed with Alina in her flat in London for ...,2013,en
2,13913,11876590,2014-04-17,5194009,Alessandro,Alina was a perfect guest and her flat is abso...,2014,en
3,13913,46669566,2015-09-12,42970248,Oleh,Alina's flat is exceptional one. \r\nI have t...,2015,en
4,13913,64559033,2016-03-05,45337884,Mo,"The House is a piece of Art , there are beauti...",2016,en

# 1 -- Remove Punctuation

In [7]:
data['reviews_clean'] = data['comments']

In [8]:
# Remove newlines, carriage returns, tabs
data['reviews_clean'] = data['reviews_clean'].replace('\n', ' ')
data['reviews_clean'] = data['reviews_clean'].replace('\t', ' ')
data['reviews_clean'] = data['reviews_clean'].replace('\r', ' ')

In [9]:
import string
exclude = set(string.punctuation)
exclude.add('\n')
exclude.add('\r')
exclude.add('\t')
print(exclude)

{';', '>', '=', '\n', '\t', '\r', '+', ',', ']', ')', ':', '(', "'", '#', '/', '\\', '!', '-', '%', '`', '|', '"', '&', '_', '@', '}', '[', '{', '<', '^', '.', '*', '~', '?', '$'}

In [10]:
clean = [] 
for i,r in tqdm(data.iterrows()):
    s = r['reviews_clean']
    new = ''
    if (pd.notna(s)):
        for ch in s:
            if ch not in exclude:
                new += ch
            else:
                new += ' '    
        clean.append(" ".join(new.lower().split()))
    else:
        clean.append(np.nan)
data['reviews_clean'] = clean

448240it [01:50, 4064.74it/s]

# 2 -- Remove StopWords

In [11]:
stop_words = ["a", "able", "about", "above", "abst", "accordance", "according", \
"accordingly", "across", "act", "actually", "added", "adj", \
"affected", "affecting", "affects", "after", "afterwards", "again", \
"against", "ah", "all", "almost", "alone", "along", "already", \
"also", "although", "always", "am", "among", "amongst", "an", "and", \
"announce", "another", "any", "anybody", "anyhow", "anymore", \
"anyone", "anything", "anyway", "anyways", "anywhere", "apparently", \
"approximately", "are", "aren", "arent", "arise", "around", "as", \
"aside", "ask", "asking", "at", "auth", "available", "away", \
"awfully", "b", "back", "be", "became", "because", "become", \
"becomes", "becoming", "been", "before", "beforehand", "begin", \
"beginning", "beginnings", "begins", "behind", "being", "believe", \
"below", "beside", "besides", "between", "beyond", "biol", "both", \
"brief", "briefly", "but", "by", "c", "ca", "came", "can", "cannot", \
"cant", "cause", "causes", "certain", "certainly", "co", "com", \
"come", "comes", "contain", "containing", "contains", "could", \
"couldnt", "d", "date", "did", "didnt", "different", "do", "does", \
"doesnt", "doing", "done", "dont", "down", "downwards", "due", \
"during", "e", "each", "ed", "edu", "effect", "eg", "eight", \
"eighty", "either", "else", "elsewhere", "end", "ending", "enough", \
"especially", "et", "etc", "even", "ever", "every", \
"everybody", "everyone", "everything", "everywhere", "ex", "except", \
"f", "far", "few", "ff", "fifth", "first", "five", "fix", "followed", \
"following", "follows", "for", "former", "formerly", "forth", \
"found", "four", "from", "further", "furthermore", "g", "gave", \
"get", "gets", "getting", "give", "given", "gives", "giving", "go", \
"goes", "gone", "got", "gotten", "h", "had", "happens", "hardly", \
"has", "hasnt", "have", "havent", "having", "he", "hed", "hence", \
"her", "here", "hereafter", "hereby", "herein", "heres", "hereupon", \
"hers", "herself", "hes", "hi", "hid", "him", "himself", "his", \
"hither", "home", "how", "howbeit", "however", "hundred", "i", "id", \
"ie", "if", "ill", "im", "immediate", "immediately", "importance", \
"important", "in", "inc", "indeed", "index", "information", \
"instead", "into", "invention", "inward", "is", "isnt", "it", "itd", \
"itll", "its", "itself", "ive", "j", "just", "k", "keep", "keeps", \
"kept", "kg", "km", "know", "known", "knows", "l", "largely", "last", \
"lately", "later", "latter", "latterly", "least", "less", "lest", \
"let", "lets", "like", "liked", "likely", "line", "little", "ll", \
"look", "looking", "looks", "ltd", "m", "made", "mainly", "make", \
"makes", "many", "may", "maybe", "me", "mean", "means", "meantime", \
"meanwhile", "merely", "mg", "might", "million", "miss", "ml", \
"more", "moreover", "most", "mostly", "mr", "mrs", "much", "mug", \
"must", "my", "myself", "n", "na", "name", "namely", "nay", "nd", \
"near", "nearly", "necessarily", "necessary", "need", "needs", \
"neither", "never", "nevertheless", "new", "next", "nine", "ninety", \
"no", "nobody", "non", "none", "nonetheless", "noone", "nor", \
"normally", "nos", "not", "noted", "nothing", "now", "nowhere", "o", \
"obtain", "obtained", "obviously", "of", "off", "often", "oh", "ok", \
"okay", "old", "omitted", "on", "once", "one", "ones", "only", \
"onto", "or", "ord", "other", "others", "otherwise", "ought", "our", \
"ours", "ourselves", "out", "outside", "over", "overall", "owing", \
"own", "p", "page", "pages", "part", "particular", "particularly", \
"past", "per", "perhaps", "placed", "please", "plus", "poorly", \
"possible", "possibly", "potentially", "pp", "predominantly", \
"present", "previously", "primarily", "probably", "promptly", \
"proud", "provides", "put", "q", "que", "quickly", "quite", "qv", \
"r", "ran", "rather", "rd", "re", "readily", "really", "recent", \
"recently", "ref", "refs", "regarding", "regardless", "regards", \
"related", "relatively", "research", "respectively", "resulted", \
"resulting", "results", "right", "run", "s", "said", "same", "saw", \
"say", "saying", "says", "sec", "section", "see", "seeing", "seem", \
"seemed", "seeming", "seems", "seen", "self", "selves", "sent", \
"seven", "several", "shall", "she", "shed", "shell", "shes", \
"should", "shouldnt", "show", "showed", "shown", "showns", "shows", \
"significant", "significantly", "similar", "similarly", "since", \
"six", "slightly", "so", "some", "somebody", "somehow", "someone", \
"somethan", "something", "sometime", "sometimes", "somewhat", \
"somewhere", "soon", "sorry", "specifically", "specified", "specify", \
"specifying", "still", "stop", "strongly", "sub", "substantially", \
"successfully", "such", "sufficiently", "suggest", "sup", "sure", "t", "take", "taken", "taking", "tell", "tends", "th", "than", \
"thank", "thanks", "thanx", "that", "thatll", "thats", "thatve", \
"the", "their", "theirs", "them", "themselves", "then", "thence", \
"there", "thereafter", "thereby", "thered", "therefore", "therein", \
"therell", "thereof", "therere", "theres", "thereto", "thereupon", \
"thereve", "these", "they", "theyd", "theyll", "theyre", "theyve", \
"think", "this", "those", "thou", "though", "thoughh", "thousand", \
"throug", "through", "throughout", "thru", "thus", "til", "tip", \
"to", "together", "too", "took", "toward", "towards", "tried", \
"tries", "truly", "try", "trying", "ts", "twice", "two", "u", "un", \
"under", "unfortunately", "unless", "unlike", "unlikely", "until", \
"unto", "up", "upon", "ups", "us", "use", "used", "useful", \
"usefully", "usefulness", "uses", "using", "usually", "v", "value", \
"various", "ve", "very", "via", "viz", "vol", "vols", "vs", "w", \
"want", "wants", "was", "wasnt", "way", "we", "wed", "welcome", \
"well", "went", "were", "werent", "weve", "what", "whatever", \
"whatll", "whats", "when", "whence", "whenever", "where", \
"whereafter", "whereas", "whereby", "wherein", "wheres", "whereupon", \
"wherever", "whether", "which", "while", "whim", "whither", "who", \
"whod", "whoever", "whole", "wholl", "whom", "whomever", "whos", \
"whose", "why", "widely", "willing", "wish", "with", "within", \
"without", "wont", "words", "world", "would", "wouldnt", "www", "x", \
"y", "yes", "yet", "you", "youd", "youll", "your", "youre", "yours", \
"yourself", "yourselves", "youve", "z", "zero"]

In [12]:
def remove_stop(s):
    new = []
    for word in s.split():
        if word not in stop_words:
            new.append(word)
    return ' '.join(new)

In [13]:
# takes ~5 minutes
clean = []
for i,r in tqdm(data.iterrows()):
    s = r['reviews_clean']
    if pd.notna(s):
        clean.append(remove_stop(s))
    else:
        clean.append(np.nan)
data['reviews_clean'] = clean

448240it [04:15, 1752.31it/s]

# 3 -- Stemming

In [14]:
from nltk.stem import SnowballStemmer
snowball=SnowballStemmer("english")

In [15]:
def stem(s):
    new = []
    for word in s.split():
        new.append(snowball.stem(word))
    return ' '.join(new)

In [16]:
clean = []
for i,r in tqdm(data.iterrows()):
    s = r['reviews_clean']
    if pd.notna(s):
        clean.append(stem(s))
    else:
        clean.append(np.nan)
data['reviews_clean'] = clean

448240it [05:02, 1483.73it/s]

In [17]:
data = data.drop(columns=['comments'])

In [18]:
file = '../../../Data/reviews/reviews_clean/reviews_clean_london.csv'
data.to_csv(file, index=False)

In [19]:
data.head()

,listing_id,id,date,reviewer_id,reviewer_name,year,language,reviews_clean
0,13913,4847959,2013-05-28,6405442,Vera,2013,en,happi alina guest great time london enjoy stay...
1,13913,8142329,2013-10-17,9195551,Honi,2013,en,stay alina flat london week wonder warm feel a...
2,13913,11876590,2014-04-17,5194009,Alessandro,2014,en,alina perfect guest flat absolut wonder high r...
3,13913,46669566,2015-09-12,42970248,Oleh,2015,en,alina flat except atmospher place flat plenti ...
4,13913,64559033,2016-03-05,45337884,Mo,2016,en,hous piec art beauti portrait close tube stati...

In [20]:
data['reviews_clean'][2]

'alina perfect guest flat absolut wonder high recommend'