In [1]:
sentiment_analysis.py -- Create Sentiment Features

In [4]:
import pandas as pd
import numpy as np
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
from tqdm import tqdm

In [5]:
file = '../../../Data/reviews/reviews_raw/reviews_raw_london.csv'
#data = pd.read_csv(file, delimiter='\t', quotechar='"', escapechar='\\')
data = pd.read_csv(file)

In [6]:
print(len(data))

448240

In [7]:
data.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments,year,language
0,13913,4847959,2013-05-28,6405442,Vera,I'm very happy to have been Alina's guest! We'...,2013,en
1,13913,8142329,2013-10-17,9195551,Honi,I stayed with Alina in her flat in London for ...,2013,en
2,13913,11876590,2014-04-17,5194009,Alessandro,Alina was a perfect guest and her flat is abso...,2014,en
3,13913,46669566,2015-09-12,42970248,Oleh,Alina's flat is exceptional one. \r\nI have t...,2015,en
4,13913,64559033,2016-03-05,45337884,Mo,"The House is a piece of Art , there are beauti...",2016,en

In [8]:
data.loc[0,'comments']

"I'm very happy to have been Alina's guest! We've had great time in London and enjoyed our stay. Alina is a great host, we felt us so welcomed by her! \r\nAlina's house location is very convenient, it's only 5 min walk to Finsbury Park tube station and also a direct (Picadilly) line to Heathrow Airport (in case yu have an early departure you can use the opportunity to sleep a bit in the train :) \r\nThe flat itself is very nice and clean and comfortable, especially the double-bed with new mattress, I slept like a newborn :) And also the red sofa on the small roof terrace is great, I enjoyed the last night London sky!\r\nTo all who is going to visit London I highly reccomend Alina and her beautiful house to stay in. Alina, thank you so much and I hope to see you one day again!"

In [9]:
sentiment = []
sentiment_pos = []
sentiment_neg = []
sentiment_neu = []

analyzer = SentimentIntensityAnalyzer()

for i,r in tqdm(data.iterrows()):
    review = r['comments']
    if(isinstance(review, str)):
        vs = analyzer.polarity_scores(review)
        sentiment.append(vs['compound'])
        sentiment_pos.append(vs['pos'])
        sentiment_neg.append(vs['neg'])
        sentiment_neu.append(vs['neu'])
    else:
        sentiment.append(np.nan)
        sentiment_pos.append(np.nan)
        sentiment_neg.append(np.nan)
        sentiment_neu.append(np.nan)

448240it [08:22, 892.05it/s]

In [12]:
output = pd.DataFrame()

for c in ['id', 'listing_id', 'year', 'month', 'day']:
    output[c] = data[c]

output['sent_comp'] = sentiment
output['sent_pos'] = sentiment_pos
output['sent_neg'] = sentiment_neg
output['sent_neu'] = sentiment_neu

In [13]:
output.to_csv('../../../Data/reviews/reviews_data/reviews_data_london.csv', index=False)

In [11]:
year = []
month = []
day = []
for i,r in tqdm(data.iterrows()):
    year.append(int(r['date'][:4]))
    month.append(int(r['date'][5:7]))
    day.append(int(r['date'][8:]))
data['year'] = year
data['month'] = month
data['day'] = day

448240it [01:12, 6167.61it/s]