In [1]:
# Correlation: Calculate Pearson Correlation Coefficients

In [2]:
import pandas as pd
import numpy as np
from scipy import stats

In [3]:
city = 'london'
file = '../../Data/data_'+city+'.csv'
data = pd.read_csv(file)

In [4]:
print(len(data))
data = data[data['disadvantaged']==True]
print(len(data))
data = data[data['count_listings']>=5]
print(len(data))

454
230
186

In [5]:
sf = [
'count_listings',
'count_reviews',
'price',
'bedrooms',
'star_rating',
'review_rating_location',
]

In [6]:
uf = [
'review_len',
'location_words_perc',
'sent_comp',
'sent_comp_location',
'lda_1', 'lda_2', 'lda_3', 'lda_4', 'lda_5',
'dtv_1', 'dtv_2', 'dtv_3', 'dtv_4', 'dtv_5', 'dtv_6', 'dtv_7', 'dtv_8', 'dtv_9', 'dtv_10', 'dtv_11', 'dtv_12', 'dtv_13', 'dtv_14', 'dtv_15', 'dtv_16', 'dtv_17', 'dtv_18', 'dtv_19', 'dtv_20', 'dtv_21', 'dtv_22', 'dtv_23', 'dtv_24', 'dtv_25',
]

In [7]:
pred = ['index', 'age', 'edu', 'income', 'house']

In [8]:
features = sf+uf

In [9]:
track = []
for f in features:
    mean = np.nanmean(data[f])
    if pd.isna(mean):
        new = {}
        new['feature'] = f
        track.append(new)
        continue
        
    data[f] = data[f].fillna(mean)
    new = {}
    new['feature'] = f
    for p in pred:
        new[p+'_change'] = stats.pearsonr(data[f], data[p+'_change'])[1]
    for p in pred:
        new['t2_'+p+'_perc'] = stats.pearsonr(data[f], data['t2_'+p+'_perc'])[1]
    track.append(new)

In [10]:
corr = pd.DataFrame.from_dict(track)

In [11]:
corr.head()

,feature,index_change,age_change,edu_change,income_change,house_change,t2_index_perc,t2_age_perc,t2_edu_perc,t2_income_perc,t2_house_perc
0,count_listings,6.821021e-16,0.879135,0.000001,0.000015,4.456993e-15,9.365271e-16,9.331682e-20,2.594422e-10,0.705579,1.645978e-07
1,count_reviews,9.210657e-12,0.760437,0.000269,0.000032,9.246416e-12,5.682514e-11,1.057948e-11,3.261234e-07,0.887960,7.243270e-06
2,price,7.830527e-07,0.921950,0.003223,0.001610,6.473855e-07,2.044301e-08,2.880299e-06,9.549828e-06,0.207600,5.040855e-06
3,bedrooms,4.885466e-02,0.137467,0.004240,0.297186,6.433446e-02,9.018482e-03,6.044075e-02,1.029655e-02,0.987002,5.256004e-03
4,star_rating,2.736832e-01,0.610363,0.097050,0.383618,5.320157e-01,1.074426e-01,9.755982e-01,6.883487e-02,0.184429,1.191092e-01